<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>image uploader</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'enroll/css/style.css' %}">
  </head>
  <body>
    <div class="container">
      <h3 class="alert alert-danger text-center p-3">Resume Uploader</h3>
        <div class="row">
            <div class="col-sm-8">
                <form action="" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% for fm in form  %}
                    <div class="form-group mb-3">
                        {{fm.label_tag}}{{fm}} <small class="text_danger">{{fm.errors|striptags}}</small> 
                    </div>
                    {% endfor %}
                    <input type="submit" class='btn btn-primary' value="Save">
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{eorrer}} </p>
                    {% endfor %}
                    {% endif %}
                </form>
            </div>
            <div class="col-sm-4">
              <h3 class="text-center mb-3"> <u>List of candidate</u> </h3>
              {% for candidate in candidates %}
              {{candidate.id}}
              <a href="{% url 'candidate' candidate.id %}">{{candidate.name}}</a> <hr>
              {% endfor %}
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
      $( function() {
        $( "#datepicker" ).datepicker();
        $( "#anim" ).on( "change", function() {
          $( "#datepicker" ).datepicker( "option", "showAnim", $( this ).val() );
        });
      } );
      </script>
  </body>
</html>
